#contact {
    margin-top: 10em;
    margin-bottom: 10em;
}

.card {
text-align: center;
color: #ffffff;
font-family: 'Readex Pro', sans-serif;
background-color: #61B9C2;
border: none;
}

ul {
    margin-top: 0;
}


.card, li, a {
    color: #ffffff;
    background-color: #61B9C2;
    font-family: 'Readex Pro', sans-serif;
    text-decoration: none;
}