<div class="container">
    <div class="contact-us">
      <div class="contact-us-inner">
        <form action="#">
			<h2>Contact</h2>
           <p>* Required</p>
           <!--Social media links-->
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google"></i></a>
				<a href="#" class="social"><i class="fab fa-at"></i></a>
			</div>
          <input type="text" placeholder="James Doe"/>
      <input type="email" placeholder="jamesdoe@jamesdoe.com" />
			<input type="phone" placeholder="Phone" />
          <textarea rows="4" placeholder="Message"></textarea>
          <button class="btn button">Submit</button>
        </form>
      </div>
    </div>
</div>