<link href="https://fonts.googleapis.com/css2?family=Alata&family=Readex+Pro&display=swap" rel="stylesheet">

<div class="containter-fluid" id="contact">
<div class="card mt-5 mx-auto" style="width: 18rem;">
    <img src="assets/images/jaxslogo.png" class="card-img-top" alt="icon">
    <div class="card-body">
      <h5 class="card-title">Contact Us</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Hours: Mon-Sun 8am-12am</li>
      <li class="list-group-item">123 Main St. Boston, Ma. 02108</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Call Us: 555-122-2311</a>
      <a href="#" class="card-link">Email</a>
    </div>
  </div>
</div>
