footer {
    width: 100%;
    height: 100%;
    background-color: #f3db90;
    font-family: 'Readex Pro', sans-serif;

}


ul {
    list-style-type: none;
    text-align: left;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #000000;
}


.copyright {
    text-align: left;
    font-size: 12px;
    margin-left: 10px;
}