footer {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #2f506b;
    font-family: 'Readex Pro', sans-serif;

}


ul, a {
    position: relative;
    top: .5em;
    list-style-type: none;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ffffff;
}


.copyright {
    text-align:left;
    font-size: 12px;
    margin-left:3em;
}