<footer>
    <nav class="footer-nav">
        <ul class="footer-nav-list">
            <!--Links for wholesale and contact-->
            <li> <a href="#" class="wholesale">Wholesale</a></li>
                <li><a href="/contact-us/" class="contact-us">Contact Us</a></li>
            </ul>
            <ul class="footer-nav-list">
                <p class="address">123 Main St.<br>Boston, Ma. 02108<p>
            </ul>
                <div class="copyright text-muted">
                    <p>© 2022-2023 Jax's Market | Built by Bryan Gaskins</p>
                </div>
         </nav>
  </footer>