<footer>
    <div class="footer-container">
        <div class="footer-nav">
            <nav class="site-footer-nav">
                <div class="row">
                    <div class="col-sm-4 site-footer-nav-col-1" id="info-links">
                        <div class="site-footer-nav-col-2" id="login-shop">
                            <ul class="footer-nav-list">
  
                                <!--Links for wholesale and contact-->
                          
                                <li> <a href="#" class="wholesale">Wholesale</a></li>
                                <li><a href="/contact-us/" class="contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <ul class="footer-nav-list">
                            <p class="address">123 Main St.<br>Boston, Ma. 02108<p>
                        </ul>
                    </div>
                </div>
                <div class="site-footer-nav-col-3" id="copyright-info">
                    <div class="copyright text-muted"><p>© 2022-2023 Jax's Market | Built by Bryan Gaskins</p></div>
                </div>
            </nav>
        </div>
    </div>
  </footer>