.container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 700px;
    height: 100%;
}

.product-details{
    position: relative;
    top: 1em;
    flex-direction: column;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

.image {
    width: 200px;
    height:260px;
}

.price{
    margin:15px 0 0;
    font-weight:800;
    color:#4a4c9a
}

h4 {
    font-size: 1rem;
    text-decoration: underline;
    margin-top: 2em;
}

p {
    font-size: 16px;
    position: relative;
    bottom: 2em;
    padding: 4em 8em;
}

.btn {
    position: relative;
    bottom: 4em;
    background-color: #000000;
    color: #ffffff;
}




    

@media(width < 768px){

    
    .image {
        width: 170px;
        height:230px;
    }
    
    
    h4 {
        font-size: 18px;
        text-decoration: underline;
        margin-top: 2em;
    }
    
    p {
        position: relative;
        bottom: 0;
        padding: 2em;
    }
    
    .btn {
        bottom: 1em;

}


@media(width < 480px){

    
    p {
        padding: 1em;
    }

    .btn {
        bottom: 0;
}


}
}