.price{
    margin:15px 0 0;
    font-weight:800;
    color:#4a4c9a
}
.detail-section{
    font-family: 'Readex Pro', sans-serif;
    margin-top:60px;
    text-align: center;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    margin-top: 1em;
}

h4 {
    font-size: 18px;
    text-decoration: underline;
    margin-top: 2em;
}

a {
    text-decoration: none;
    color: #4a4c9a
}

