<nav>
  <div class="logo">
    <a href="/products">
      <img src="assets/images/jaxslogo.png" alt="Jax's Market">
    </a>
  </div>

    <ul class="nav-list">
      <div class="close" (click)="toggleNavList('close')">
        <fa-icon [icon]="faBars" alt="close"></fa-icon>
      </div>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Who We Are</a></li>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Specials</a></li>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Locations</a></li>
      <div class="cart-status"><app-cart-status></app-cart-status></div>
    
      <div id="categories">
      <h6>Search Departments:</h6>
      <li *ngFor="let tempProductCategory of productCategories">
        <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
        {{ tempProductCategory.categoryName }}
        </a>
      </li>
    </div>
    </ul>
    
  <div class="open" (click)="toggleNavList('open')">
    <fa-icon [icon]="faBars" alt="close"></fa-icon>
  </div>
</nav>

