/*NAVIGATION*/
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #61B9C2;
  font-family: 'Readex Pro', sans-serif;
}

/*LOGO IMAGE*/
.logo img {
  margin: 4px 4px 4px;
  height: 60px;
}

/*LINKS AND CART STATUS*/
.nav-list{
  display:flex;
  gap: 1em;
  align-items: end;
}

.nav-list li{
  list-style-type: none;
  font-size: 1rem;
}

.nav-list li a{
  color: white;
  text-decoration: none;
  transition: .2s;
}

.nav-list li.active a{
  border-color: white;
  text-decoration: none;
}

select {
  display: none;
}

h6 {
  display: none;
}

/*SIDEBAR not on display above 580px. Categories will list with burger menu*/
#categories {
  display: none;
}

.open{
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  display: none;
}
.close{
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  display: none;
}


@media(max-width:1000px){
  .logo img {
      height: 55px;
  }
  .nav-list{
      margin-top: 1em;
      padding: 0;
      gap: 1em;
  }
  .nav-list li span{
      display: none;
  }
}


@media(max-width:580px){

  nav{
      width: 100%;
  }
  .nav-list{
      background-color: #61B9C2;
      position: fixed;
      flex-direction: column;
      justify-self: flex-end;
      justify-content: flex-start;
      align-items: stretch;
      top: 0;
      right: -100%;
      height: 100%;
      width: 60%;
      z-index: 10;
      padding-top: 5em;
      transition: .3s;
  }

  h6 {
    padding-left: 1.5em;
    padding-top: 2em;
  }
  .nav-list.active{
      right: 0;
  }
  .nav-list li a{
      padding-left: 2em;
  }
  .nav-list li.active a, .nav-list li a:hover{
      border-bottom-color: transparent;
  }

  /*PRODUCT CATEGORIES*/
  #categories a {
    font-size: 14px;
  }

  #categories {
    display: block;
  }

  .open,.close{
      display: block;
  }
  .toggle.active .open{
      display: none;
  }

  /*CART QUANTITY AND COST*/
  .cart-status {
    margin-left: 2em;
  }
}