<!--<nav class="navbar">
  <div class="logo">
    <a href="/products">
      <img src="assets/images/jaxslogo.png" class="logo" alt="Jax's Market">
    </a>
  </div>
  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/contact-us" class="nav-link">Contact Us</a>
      </li>
    </ul>
        <app-cart-status></app-cart-status>
    </div> -->

<nav class="navbar">
  <div class="logo">
    <a href="/products">
      <img src="assets/images/jaxslogo.png" alt="Jax's Market">
    </a>
  </div>

    <ul class="nav-list">
      <div class="close" (click)="toggleNavList('close')">
        <fa-icon [icon]="faBars" alt="close"></fa-icon>
      </div>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Who We Are</a></li>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Specials</a></li>
      <li class="top-link" (click)="toggleNavList('close')"><a routerLink="contact-us">Find Us</a></li>
      <div class="cart-status"><app-cart-status></app-cart-status></div>
    </ul>
    
  <div class="open" (click)="toggleNavList('open')">
    <fa-icon [icon]="faBars" alt="close"></fa-icon>
  </div>
</nav>


  
  
