<div class="container">
  <div class="home">
    <div class="head-logo">
      <img src="assets/images/jaxs-logo-head.png" alt="Jax's Market welcome greeting">
    </div>
    <div class="greeting">
      <h5>Welcome. I'm Jax.</h5>
      <p>What can I do for you today?</p>
    </div>
        <div class="buttons">
          <!--Leave spaces for the category name (a) / icon (i)-->
          <a href="/products" class="button" role="button" aria-pressed="true"><i class="fa-classic fa-solid fa-cart-shopping" style="color: #99d98c"></i> Shop</a>
          <a href="/contact-us" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-truck" style="color:#e9d8a6;"></i> Delivery</a>
          <a href="/contact-us" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-face-smile" style="color:#e0fbfc;"></i> Members</a>
          <a href="/contact-us" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-calendar" style="color:#e76f51;"></i> Events</a>
        </div>
      </div>
    </div>
  