<div class="container">
  <div class="home">
    <div class="head-logo">
      <!--Jax's logo-->
      <img src="assets/images/jaxs-logo-head.png" alt="Jax's Market welcome greeting">
    </div>

    <!-- Greeting message -->
    <div class="greeting">
      <h5>Welcome. I'm Jax.</h5>
      <p>What can I help you with today?</p>
    </div>
        <div class="buttons">
          <!--Leave spaces for the category name (a) / icon (i)-->
          <!--Shop-->
          <a href="/products" class="button" role="button" aria-pressed="true"><i class="fa-solid fa-carrot" style="color: #e76f51"></i> Shop</a>
          <!--Delivery-->
          <a href="/delivery" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-truck" style="color:#e9d8a6;"></i> Delivery</a>
          <!--Members-->
          <a href="/members" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-face-smile" style="color:#e0fbfc;"></i> Members</a>
          <!--Events-->
          <a href="/events" class="button" role="button" aria-pressed="true"><i class="fa-sharp fa-solid fa-calendar" style="color:#99d98c;"></i> Events</a>
        </div>
      </div>
    </div>
  