<nav class="sidebar">

    <ul class="nav-list">
      <div class="close" (click)="toggleNavList('close')">
        <fa-icon [icon]="faBars" alt="close"></fa-icon>
      </div>
          <li *ngFor="let tempProductCategory of productCategories">
            <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
              {{ tempProductCategory.categoryName }}
            </a>
          </li>      
          <li>
            <button class="btn btn-lg>">Need help?</button>
          </li>
      </ul>

      <div class="open" (click)="toggleNavList('open')">
        <fa-icon [icon]="faBars" alt="close"></fa-icon>
      </div>
</nav> 
