nav, ul {
    margin-top: 10em;
}

li, a {
    margin-top: 2em;
    margin-left: .25em;
    font-family: 'Readex Pro', sans-serif;    
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    width:auto;
    padding:0px 10px;
    }
    
h6 {
    margin-top: -1.5em;
    margin-left: .25em;
    text-align: left;
    color: #ffffff;;
    text-decoration: none;
    width:auto;
    padding:0px 10px;
    }

button {
    background-color:bisque;
    margin-left: 1em;
}