.container {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.row {
    display: flex;
    position: relative;
    left: 2em;
}

img {
    width: 140px;
    height: 200px;
}

.price{
    margin:15px 0 0;
    font-family: 'Readex Pro', sans-serif;
    font-weight:500;
    color:#4a4c9a;

}

h1{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 15px;
    font-weight:400;

}
h2{
    font-size:13px;
    margin-bottom: 2em;
    font-weight:500;
    color:#000000
}

a:link {
    text-decoration: none;

}

.btn {
    margin-top: 1em;
    background:#000000;
    color:#ffffff;
}

.alert {
    margin: 100px;
}

