.main-content{
    min-height:100vh
}

.product-info, img {
    width: 150px;
    height: 175px;
}

.product-info {
    width: 100vw;
    margin-top: 8em;
    margin-left: 1.5em;
}

.price{
    margin:15px 0 0;
    font-weight:800;
    color:#5939d7

}

.product-info h1{
    color: black;
    font-size: 18px;
    padding-bottom:5px;
    font-weight:400;
    padding-top:12px;
    margin-bottom:7px;

}
.product-info h2{
    font-size:15px;
    padding-bottom:0;
    font-weight:500;
    color:#000000
}

a:link {
    text-decoration: none;

}

.btn {
    background:#000000;
    color:#ffffff;

}

