<div class="main-content">
    <div class="section-content section-content">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let tempProduct of products" class="col-md-3 h-100">

                    <div class="product-info">

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <button (click)="addToCart(tempProduct)" class="btn btn-sm>">Add to cart</button>
                    </div>

                </div>

                <!-- Alert message if no products are found-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>
        </div>
    </div>
</div> 