.product-info, img {
    width: 130px;
    height: 170px;
}

.product-info {
    width: 100vw;
    margin-top: 8em;
}

.price{
    margin:15px 0 0;
    font-family: 'Readex Pro', sans-serif;
    font-weight:500;
    color:#4a4c9a;

}

.product-info h1{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 16px;
    font-weight:400;

}
.product-info h2{
    font-size:15px;
    margin-bottom: 2em;
    font-weight:500;
    color:#000000
}

a:link {
    text-decoration: none;

}

.btn {
    margin-top: 1em;
    background:#000000;
    color:#ffffff;

}

