<div class="container"> <!--Cart table-->


            <!--Dynamic product details -->
            <div *ngIf="cartItems.length > 0">
                <table class="table">
                    <tr>
                        <th colspan="1">Product Image</th>
                        <th colspan="1">Product Detail</th>
                        <th colspan="1">Amount</th>
                    </tr>

                    <!--Product info/image populates-->
                    <tr *ngFor="let tempCartItem of cartItems"> 
                       <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.name }}</p>
                            <p>{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
                        </td> 
                        <td>
                            <div class="items">
                                <label>Quantity:</label>
                                <div class="row">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)" class="btn" id="plus">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        {{ tempCartItem.quantity }}
                                    </div>
                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)" class="btn" id="minus">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <button (click)="deleteFromCart(tempCartItem)" class="btn btn-primary btn-sm">
                                    Delete
                                </button>
                            </div>
                            <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}</p>
                        </td>
                    </tr>
                    <!-- Order summary -->
                    <tr>
                        <td colspan="2" id="payment-summary"></td>
                        <td id="total">
                            <p><strong>Total Quantity:</strong> {{ totalQuantity }}</p>
                            <p>Shipping: Free</p>
                            <p><strong>Total Price:</strong> {{ totalPrice | currency: 'USD' }}</p>
                            <a routerLink="/checkout" class="btn button">Checkout</a>
                        </td>
                    </tr>

                </table>

            </div>

            <!-- If the cart is empty a message occurs -->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-8" role="alert">
                Your shopping cart is empty. 
            </div>

        </div>

