
.table{
    margin-top: 2em;
    width: 100%;
    
}

.table th{
    border:0 .5px solid #dee2e6;
}

table.table th{
    background:#4a4c9a;
    color:#fff;
    font-size:14px;
    padding:6px;
}

tr {
  width: 100%;

}

.table-responsive{
    padding-right:1px
}

#total, p {
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
}

#payment-summary, #total {
  background:#4a4c9a;
  color:#fff;
  font-size:14px;
  padding:6px;
}


.btn {
    background:#000000;
    color:#ffffff;

}

#minus, #plus {
  background:#000000;
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  font-size: 10px;
}

.alert { 
    margin: 100px;
}


