
 
 <!-- Nav sidebar-->
  
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="category-menu">
      <app-product-category-menu></app-product-category-menu>
    </div>
  </aside>


  <div class="page-container">

    <!-- Header navbar-->
    <header>
      <nav class="navbar navbar-expand-sm fixed-top">
          <div class="container-fluid">
          <ul class="navbar-nav navbar-collapse">
          </ul>
          <a href="/products">
          <img  src="assets/images/jaxslogo.png" class="logo" alt="Jax's Market">
        </a>
          <ul class="navbar-nav navbar-collapse justify-content-end">
              <li><a routerLink="/contact-us" class="nav-link">Contact Us</a></li>
                      <app-cart-status></app-cart-status>
          </ul>
          </div>
      </nav>
  </header>

    <router-outlet></router-outlet>

  </div>


  <!--Footer-->
<footer>
  <div class="footer-container">
      <div class="footer-nav">
          <nav class="site-footer-nav">
              <div class="row">
                  <div class="col-sm-4 site-footer-nav-col-1" id="info-links">
                      <div class="site-footer-nav-col-2" id="login-shop">
                          <ul class="footer-nav-list">

                              <!--Links for wholesale and contact-->
                        
                              <li> <a href="#" class="wholesale">Wholesale</a></li>
                              <li><a href="/contact-us/" class="contact-us">Contact Us</a></li>
                          </ul>
                      </div>
                      <ul class="footer-nav-list">
                          <p class="address">123 Main St.<br>Boston, Ma. 02108<p>
                      </ul>
                  </div>
              </div>
              <div class="site-footer-nav-col-3" id="copyright-info">
                  <div class="copyright text-muted"><p>© 2022 Jax's Market | Developed by Bryan Gaskins</p></div>
              </div>
          </nav>
      </div>
  </div>
</footer>