.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header header"
  "side content content"
  "footer footer footer";
  height: 100%;
}
app-header {
  grid-area: header;
  text-align: center;
}

app-product-category-menu {
  grid-area: side;
  background-color: #2A92BF;
}

app-product-list {
  grid-area: content;
  background-color: #F4CE46;
}

app-footer {
  grid-area: footer;
  color: rgb(0, 0, 0);
}

ul li {
  color: rgb(0, 0, 0);
}
ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  app-nav, 
  app-aside {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "side"
      "content"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}