.container-fluid {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 200px 20px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header header"
  "side content content"
  "footer footer footer";
  height: 100vh;
}
app-header {
  grid-area: header;
}

app-product-category-menu {
  grid-area: side;
}

app-product-list {
  grid-area: content;
}

app-footer {
  grid-area: footer;
}



