.main-content{
    padding-top: 10em;
    margin-right: 4em;
    min-height:100vh
}

.form-area{
    width:75%;
    background:#ffffff;
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid rgb(45, 107, 182)
}
.form-area h3{
    position:absolute;
    top:-26px;
    left:13px;
    background:#ffffff;
    padding:10px 20px;
    font-weight:500;
    display:inline-block
}
.input-space{
    margin-bottom:20px;
    margin-right: 4em

}
.input-space label{
    padding-left:31px;
    font-size:14px;
    margin-bottom:50px
}
.input-space input[type=text]{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:10px;
    border:1px solid #000000
}
.input-space select{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:0 10px;
    border:1px solid #000000
}

.btn {
    background:#000000;
    color: #ffffff
}