<div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="left-input">
                    <div class="cart">
                      <h3>Cart</h3><hr>
                      <div class="cart-item">
                        <table class="table table-responsive">
                          <tr>
                              <th width="30%">Product</th>
                              <th width="30%">Qty</th>
                              <th width="30%">Price</th>
                          </tr>
                        <tr *ngFor="let tempCartItem of cartItems"> 
                            <td>
                               <p>{{ tempCartItem.name }}</p>
                            </td>
                            <td>
                              <p>{{ tempCartItem.quantity }}</p>
                            </td>
                           <td>
                               <p>{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
                           </td> 
                          </tr>
                          </table>
                          <p>Total <span class="price" style="color:#000000"><b>{{ totalPrice | currency: 'USD' }}</b></span></p>
                      
                      </div> 
                      <hr>

                    <form action="/">
                      <div class="row">
                        <div class="input-area">
                          <h3>Billing Address</h3>
                          <label for="fname"><i class="fa-regular fa-face-smile"></i> Full Name</label>
                          <input type="text" id="fname" name="firstname" placeholder="James Doe">
                          <label for="email"><i class="fa-regular fa-at"></i> Email</label>
                          <input type="text" id="email" name="email" placeholder="james@example.com">
                          <label for="addr"><i class="fa fa-address-card"></i> Address</label>
                          <input type="text" id="addr" name="address" placeholder="123 Main St.">
                          <label for="city"><i class="fa-solid fa-city"></i> City</label>
                          <input type="text" id="city" name="city" placeholder="Boston">
              
                          <div class="row">
                            <div class="input-area">
                              <label for="state">State</label>
                              <input type="text" id="state" name="state" placeholder="MA">
                            </div>
                            <div class="input-area">
                              <label for="zip">Zip</label>
                              <input type="text" id="zip" name="zip" placeholder="02108">
                            </div>
                          </div>
                        </div>
              
                        <div class="input-area">
                          <h3>Payment</h3>
                          <label for="fname">Accepted Cards</label>
                          <div class="icon-container">
                            <i class="fa-brands fa-cc-visa" style="color:#000000;"></i>
                            <i class="fa-brands fa-cc-amex" style="color:#000000;"></i>
                            <i class="fa-brands fa-cc-mastercard" style="color:#000000;"></i>
                            <i class="fa-brands fa-cc-discover" style="color:#000000;"></i>
                          </div>
                          <label for="cname">Name on Card</label>
                          <input type="text" id="cname" name="cardname" placeholder="James Doe">
                          <label for="ccnum">Credit card number</label>
                          <input type="text" id="ccnum" name="cardnumber" placeholder="555 - 222 - 4444">
                          <label for="expmonth">Exp Month</label>
                          <input type="text" id="expmonth" name="expmonth" placeholder="10">
              
                          <div class="row">
                            <div class="input-area">
                              <label for="expyear">Exp Year</label>
                              <input type="text" id="exp year" name="exp year" placeholder="2023">
                            </div>
                            <div class="input-area">
                              <label for="cvv">CVV</label>
                              <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                          </div>
                        </div>
              
                      </div>
                      <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                      </label>
                      <input type="submit" value="Continue to checkout" class="button">
                    </form>
                  </div>
                </div>
              </div>
                    <!--END OF FORM-->
            </div>
</div>